body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #fff;
}

canvas {
  display: block;
}

.player {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.player button {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}

.player input[type="range"] {
  width: 300px;
  margin-right: 10px;
}

.player .time {
  font-size: 14px;
}

.slider {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 4px;
  background-color: #fff;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: #fff;
  overflow: visible;
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ff0000 var(--seek-before-width),
    rgb(200, 200, 200) var(--seek-before-width),
    rgb(200, 200, 200) 100%
  );
}
